@font-primary: 1.4rem;
@font-desc: 2rem;
@font-h1: 4.8rem;
@font-h2: 3.2rem;
@font-h3: 2.8rem;
@font-12: 1.2rem;
@font-12-c: 1.6rem; //tren mobile font rem html nho hon nen phai set lon hon de giong design
@font-14-c: 2.1rem;
@font-16: 1.6rem;
@font-20: 2rem;
@font-32: 3.2rem;
@font-family: "Montserrat", sans-serif;
@line-height-120: 120%;
@line-height: 140%;
