html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
  color: #2d2d2d;
  box-sizing: border-box;
  background-color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #2d2d2d;
  padding: 0;
}
