@heightHeaderTop: 58px;
@heightHeaderBottom: 52px;
#header {
  padding: 0 32px;
  border-bottom: 1px solid @color-border;
}
// phan header phia tren cung
.header--top {
  width: 100%;
  height: @heightHeaderTop;
}
// phan header ben trai
.header--top--left {
  flex: 1;
  ul {
    width: 100%;
    height: 100%;
    li {
      height: 100%;
    }
    li:first-child {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid @color-border-nav;
        width: 110%;
        bottom: -30%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  // phan nut menu tren header mobile
  .header__icon--mobile {
    .icon__home {
      padding-right: 16px;
    }
    .acount {
      .icon--user {
        margin-right: 12px;
      }
      p {
        font-weight: 500;
      }
    }
  }
}
// phan ten glamira
.header--name {
  flex: 1;
  max-width: 800px;
  .icon--name {
    width: 3rem;
    height: 3rem;
  }
}
// phan header ben phai
.header--top--right {
  flex: 1;

  .header--icon {
    width: 200px;
    justify-content: flex-end;
    color: @icon-color;
    li,
    a {
      height: 100%;
    }
    li + li a {
      margin-left: 25px;
    }

    .icon--heart {
      position: relative;
      top: 10%;
      width: 20px;
      height: 19px;
    }

    &--bag {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 100%;
      &--top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 8px;
      }
      &--down {
        position: absolute;
        bottom: 10%;
        width: 16px;
        height: 16px;
      }
    }
  }
}
.header--lang {
  a {
    padding: 0 12px;
    display: block;
    position: relative;
  }
  li + li a::before {
    content: "";
    position: absolute;
    height: 12px;
    border-left: 1px solid @color-border;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
  }
  li:first-child a {
    opacity: 0.6;
  }
}
//   phan header nav phia duoi
.header--bottom {
  height: @heightHeaderBottom;
  ul {
    height: 100%;
    a {
      display: inline-block;
      padding: 0 20px;
      font-weight: 500;
      line-height: @line-height;
      &:hover {
        opacity: 0.6;
        transition: 0.4s;
      }
    }
    li:first-child a {
      padding-left: 0;
    }
  }
}

// phan header nav mobile
.header__nav--mobile {
  .header__nav--mobile__title {
    li {
      font-size: @font-12;
      font-weight: 500;
      line-height: @line-height-120;
      padding: 10px 0;
      cursor: pointer;
      p {
        max-inline-size: 82px;
      }
    }
  }
}
// phan menu mobile khi click vao menu
.menu--mobile {
  display: none;
  inline-size: 100%;
  min-block-size: 100vh;
  background-color: @color-white;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  &__header {
    font-weight: 500;
    background-color: @color-blur;
    .menu--mobile__acount {
      padding: 16px 20px;
    }
  }
  .menu--mobile__header__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    .icon--close {
      inline-size: 12px;
      block-size: 12px;
    }
  }
  .acount {
    .icon--user {
      margin-right: 12px;
    }
  }

  // phan nav cua menu mobile
  &__header__nav {
    padding: 8px 0;
    li {
      cursor: pointer;
    }
    p {
      display: inline-block;
      max-width: min-content;
      text-align: center;
    }
  }

  // phan list cua menu mobile
  &__header__list {
    padding: 0 20px;
    li {
      border: none;
    }
  }
  // phan login
  .login {
    font-weight: 500;
    padding: 24px 20px;
    &__icon {
      padding-right: 14px;
      .icon--right {
        width: 12px;
        height: 15px;
      }
      &--arrow {
        margin-left: -8px;
        .icon-23 {
          inline-size: 6px;
          block-size: 2.5px;
        }
        .icon-24 {
          inline-size: 3px;
          block-size: 3px;
          margin-left: -1px;
        }
      }
    }
  }
}

// phan banner
.banner {
  padding: 0 @padding-main;
}
.banner__title {
  max-width: 466px;
  .main__nav--list {
    li:first-child a {
      padding-left: 0 !important;
    }
    a {
      padding: 0 10px;
      .icon {
        width: 0.5rem;
        height: 0.6rem;
      }
    }
  }
  &--content {
    margin-top: 120px;
    h1 {
      font-size: @font-h1;
      line-height: 100%;
      margin-bottom: 24px;
    }

    p {
      font-size: @font-desc;
      line-height: @line-height;
      text-align: justify;
      margin-bottom: 62px;
    }
  }
  &--list {
    border-top: 1px solid @color-border;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 18px 0;
      font-weight: 700;
      border-bottom: 1px solid @color-border;
      text-transform: uppercase;
      .icon {
        width: 10px;
        height: 10px;
        float: right;
      }
    }
  }
}
.banner__img {
  position: relative;
  img {
    width: 100%;
    float: right;
  }
  .icon--vt15 {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 62px;
    height: 62px;
  }

  .icon--vt14 {
    position: absolute;
    bottom: -12px;
    left: -12px;
    width: 32px;
    height: 32px;
  }
}

// phan responsive cua header
@media (min-width: 1024px) {
  .icon__home,
  .search--mobile {
    display: none;
  }

  .header--top--left {
    min-inline-size: 400px;
  }
}

@media (max-width: 1023px) {
  #header {
    background-color: @color-white;
    padding: 0 20px;
    min-block-size: @heightHeaderTop; //phan header co chieu cao bang header top
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .header--bottom {
    display: none; //cho hidden phan header duoi
  }

  .header--top--left ul {
    display: none;
  }

  .header--top--right {
    .header--lang {
      display: none;
    }
    .header--top--right__icon {
      inline-size: 100%;
      flex-direction: row-reverse;
    }

    .header--icon {
      inline-size: 100%;
      .icon--user {
        display: none;
      }
      .header--icon--search {
        display: none;
      }
    }
  }

  // phan banner
  .banner__title {
    max-width: 100%;
    padding-bottom: 50px;
    &--content {
      margin-top: 18px;
    }
  }

  .banner__img {
    .icon {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  // cho logo nho hon
  .header--name {
    .icon--name {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  // cho icon bag gan icon heart hon
  .header--top--right {
    .header--icon li + li a {
      margin-left: 16px;
    }
  }
}
