#header {
  padding: 0 32px;
  border-bottom: 1px solid #dbdee6;
}
#header .header--top {
  width: 100%;
  height: 58px;
}
#header .header--top--left {
  flex: 1;
}
#header .header--top--left ul {
  width: 100%;
}
#header .header--name {
  flex: 1;
}
#header .header--name .icon--name {
  width: 3rem;
  height: 3rem;
}
#header .header--top--right {
  flex: 1;
}
#header .header--top--right .header--lang a {
  padding: 0 12px;
  display: block;
  position: relative;
}
#header .header--top--right .header--lang li + li a::before {
  content: "";
  position: absolute;
  height: 12px;
  border-left: 1px solid #dbdee6;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
}
#header .header--top--right .header--icon {
  color: #374454;
}
#header .header--top--right .header--icon li,
#header .header--top--right .header--icon a {
  height: 100%;
}
#header .header--top--right .header--icon li + li a {
  margin-left: 25px;
}
#header .header--top--right .header--icon--search {
  position: relative;
  width: 1.5rem;
}
#header .header--top--right .header--icon--search .icon--search {
  width: 1.5rem;
  height: 1.5rem;
}
#header .header--top--right .header--icon--search .icon--vt3 {
  position: absolute;
  top: 64%;
  left: 84%;
  width: 0.5rem;
  height: 0.5rem;
}
#header .header--top--right .header--icon .icon--user {
  display: inline-block;
  position: relative;
  width: 1.7rem;
  height: 100%;
}
#header .header--top--right .header--icon .icon--user--top {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#header .header--top--right .header--icon .icon--user--bottom {
  position: absolute;
  width: 1.7rem;
  height: 0.85rem;
  top: 53%;
}
#header .header--top--right .header--icon .icon--heart {
  position: relative;
  top: 10%;
  width: 1.9rem;
  height: 1.7rem;
}
#header .header--top--right .header--icon--bag {
  display: inline-block;
  position: relative;
  width: 1.3rem;
  height: 100%;
}
#header .header--top--right .header--icon--bag--top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.6rem;
  height: 0.7rem;
}
#header .header--top--right .header--icon--bag--down {
  position: absolute;
  bottom: 10%;
  width: 1.3rem;
  height: 1.3rem;
}
#header .header--bottom {
  height: 52px;
}
#header .header--bottom ul {
  height: 100%;
}
#header .header--bottom ul a {
  display: inline-block;
  padding: 0 40px;
  font-weight: 500;
  line-height: 140%;
}
#header .header--bottom ul li:first-child a {
  padding-left: 0;
}
