.app {
  width: 100%;
}
.row {
  display: flex;
}
.row-center {
  align-items: center;
}
.row-end {
  align-items: flex-end;
}
.col-center {
  justify-content: center;
}
.col-around {
  justify-content: space-around;
}
.col-between {
  justify-content: space-between;
}
.grid {
  display: grid;
}
.grid-center {
  place-content: center;
}
.col.l-6 {
  width: 50%;
}
.col.l-12 {
  width: 100%;
}
